<div class="page-top animated fadeInDown">
  <div class="nav">
    <ul>
      <li>
        <% if(is_home()) { %>
          <a href="/" class="current"><%= __('Home') %></a>
        <% } else { %>
          <a href="/"><%= __('Home') %></a>
        <% } %>
      </li>
      <li>
        <% if(is_archive()) { %>
          <a href="/archives" class="current"><%= __('Archive') %></a>
        <% } else { %>
          <a href="/archives"><%= __('Archive') %></a>
        <% } %>
      </li>
      <li>
        <% if(is_category()) { %>
          <a href="/categories" class="current"><%= __('Categories') %></a>
        <% } else { %>
          <a href="/categories"><%= __('Categories') %></a>
        <% } %>
      </li>
      <li>
        <% if(is_tag()) { %>
          <a href="/tags" class="current"><%= __('Tags') %></a>
        <% } else { %>
          <a href="/tags"><%= __('Tags') %></a>
        <% } %>
      </li>
      <li>
        <% if(is_current('about')) { %>
          <a href="/about" class="current"><%= __('About') %></a>
        <% } else { %>
          <a href="/about"><%= __('About') %></a>
        <% } %>
      </li>
      <li>
        <% if(is_current('links')) { %>
          <a href="/links" class="current"><%= __('Links') %></a>
        <% } else { %>
          <a href="/links"><%= __('Links') %></a>
        <% } %>
      </li>
    </ul>
  </div>
  <div class="information">
    <div class="back_btn">
      <li>
        <% if(is_post()) { %>
          <a class="fa fa-chevron-left" onclick="window.history.go(-1)"></a>
        <% } else { %>
          <a class="fa fa-chevron-left" onclick="window.history.go(-1)" style="display: none;"></a>
        <% } %>
      </li>
    </div>
    <div class="avatar">
      <img src="<%= theme.avatar %>" alt="">
    </div>
  </div>
</div>
