if theme.duoshuo
    a#comments
    .ds-thread(data-thread-key=page.path, data-title=page.title, data-url=page.permalink, data-author-key='1')
    script.
      var duoshuoQuery = {short_name:"#{theme.duoshuo}"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();


if theme.disqus
    a#comments
    #disqus_thread
    script.
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://' + '#{theme.disqus}' + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    script(id='dsq-count-scr' src='https://#{theme.disqus}.disqus.com/count.js' async)

if theme.gitment.enable
  #gitment-container
  script(src= url_for('js/gitment.browser.js'))
  script.
    (function(){
      var gitment = new Gitment({
        id: window.location.pathname, 
        owner: 'guyunxiang',
        repo: 'guyunxiang.github.io',
        oauth: {
          client_id: '8e90905eef1e8a7bfeb1',
          client_secret: 'b119c52cd77840aaebcf3ab8d5ef129a3e1d4f6d',
        }
      });
      gitment.render('gitment-container');
    })();
