<div class="autopagerize_page_element">
  <div class="content">
    <% page.posts.each(function(item) { %>
			<div class="post animated fadeInDown">
				<div class="post-title">
					<h3>
						<a href="<%= item.path %>"><%= item.title %></a>
					</h3>
				</div>
				<div class="post-information">
					<div class="meta">
						<div class="info">
							<i class="fa fa-sun-o"></i>
							<span class="date"><%= date(item.date, 'YYYY-MM-DD') %></span>
							<% if (theme.disqus || theme.duoshuo) { %>
								<i class="fa fa-comment-o"></i>
								<a href="<%= item.path %>#comments"><%= __('Comments') %></a>
							<% } %>
							<% if (item.tags) { %>
								<i class="fa fa-tag"></i>
								<% item.categories.sort('posts').each(function(item) { %>
									<a class="tag" href="<%= config.root %><%= item.path %>"><%= item.name %> </a>
								<% }) %>
								<% item.tags.sort('posts').each(function(item) { %>
									<a class="tag" href="<%= config.root %><%= item.path %>"><%= item.name %> </a>
								<% }) %>
							<% } %>
						</div>
					</div>
				</div>
				<div class="post-content">
					<p><%= truncate(strip_html(item.summary || item.content), { length: 160 }) %></p>
				</div>
			</div>
    <% }) %>
		<%- partial('component/pagination') %>
  </div>
</div>
